{% extends 'products/layout.html' %}

{% block title %}
  Products
{% endblock %}

{% block content %}
  {% for product in products %}
    <form action="{% url 'register' %}" method='get'>
      {% csrf_token %}
      <p>Product Name: {{ product.productName }}</p>
      <p>Company Name: {{ product.companyName }}</p>
      <p>Product Image: {{ product.imageUrl }}</p>
      <p>Product Description: {{ product.description }}</p>
      <button type="submit">Add Product</button>
    </form>

  {% endfor %}
  <a href="{% url 'addproduct' %}">Add a new product</a>
{% endblock %}
